<div class="container-fluid">
    <table class="w-100 table table-dark table-striped table-hover ">
        <thead >
            <tr class="row text-light ">
                <th class="col-1  py-2 ">UserID</th>
                <th class="col-2  py-2">FirstName</th>
                <th class="col-2  py-2">LastName</th>
                <th class="col-2  py-2">Phone</th>
                <th class="col  py-2">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let a of dataA" class="row text-light">
                <td class="col-1  py-2">{{a.userId}}</td>
                <td class="col-2  py-2">{{a.firstName}}</td>
                <td class="col-2  py-2">{{a.lastName}}</td>
                <td class="col-2  py-2">{{a.phoneNumber}}</td>
                <td class="col  py-2">{{a.emailAddress}}</td>
            </tr>
        </tbody>
    </table> 
</div>
