<div  class="row">
  <div class="col-4" *ngFor="let cat of dataA">
    <div class="container text-center mt-3">
      <div class="card" style="width: 18rem">
        <img
          [src]="cat.img"
          class="card-img-top"
          alt="adoptcat"
        />
        <div class="card-body">
          <h5 class="card-title">{{cat.name}}</h5>
          <p class="card-text">
            {{cat.adress}},{{cat.country}} <br />
            {{cat.age}} {{cat.gender}}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
