<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card bg-light w-100 p-3 m-3">
        <div class="row d-flex justify-content-center">
          <div class="col">
            <img style="width: 100%; height:17rem;" class="pic" [src]="dataA.img" alt="cat"/>
          </div>
          <div class="col">
            <a routerLinkActive=" active " [routerLink]="'/Process/'+dataA.id" class="btn btn-success w-50 m-3">
              <i class="bi bi-box2-heart-fill"></i>
              Apply to Adopt
            </a>
          </div>
        </div>
        <div class="card m-3">
          <h5>Facts about cat</h5>
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <div class="col">
                <b>id</b> {{dataA.id}} <br />
                <b>Name</b> {{dataA.name}} <br />
                <b>address</b> {{dataA.address}} <br />
              </div>
              <div class="col">
                <b>Country</b> {{dataA.country}} <br />
                <b>Gender</b> {{dataA.gender}} <br />
                <b>Age</b> {{dataA.age}} <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
